<div class="container-fluid">
  <h1 class="text-center">Add NFC Chip to <%= @task.name %></h1>

  <%= link_to 'Cancel', task_path(@task), class: "btn btn-outline-dark" %>

  <div class="card p-2" data-controller="nfc" data-nfc-task-value="<%= @task.id %>">
    <p data-nfc-target="scanMessage">...</p>

    <button class="btn btn-info" data-action="click->nfc#scanNewNfc">Scan NFC</button>
    <button class="btn btn-primary d-none" data-nfc-target="write" data-action="click->nfc#writeNewNfc">Write NFC</button>

    <div>
      <%= simple_form_for([@task, @nfc], data: {nfc_target: "nfcForm", turbo: false}) do |f| %>
        <%= f.hidden_field :url %>
        <%= f.input :serial_number %>
        <%= f.input :position %>
        <%= f.submit class: "btn btn-success w-100" %>
      <% end %>
    </div>
  </div>
</div>
