<div class="container-fluid">
  <h1 class="text-center my-4">Create NFC Tag</h1>

  <div class="p-2 mt-4" data-controller="nfc" data-nfc-task-value="<%= @task.id %>">
    <p class="alert-nfc text-center mb-3 py-2 px-3" data-nfc-target="scanMessage"></p>

    <%# <%= button_to "Scan NFC", { nfc_target: "scan", action: "click->nfc#scanNewNfc" }, { class: "button button-orange" } %>
    <button class="button button-purple d-flex align-items-center" data-nfc-target="scan" data-action="click->nfc#scanNewNfc">
        Scan NFC
        <svg class="spinner ms-3 d-none" data-nfc-target="spinnerScan" width="20px" height="20px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
          <circle class="path" fill="none" stroke-width="8" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </button>
    <button class="button button-orange d-none" data-nfc-target="write" data-action="click->nfc#writeNewNfc">
      Write NFC
      <svg class="spinner ms-3 d-none" data-nfc-target="spinnerWrite" width="20px" height="20px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
        <circle class="path" fill="none" stroke-width="8" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
      </svg>
    </button>

    <div>
      <%= simple_form_for([@task, @nfc], data: {nfc_target: "nfcForm", turbo: false}) do |f| %>
        <%= f.hidden_field :url %>
        <%= f.input :serial_number, readonly: true, error: "Scan the NFC first." %>
        <%= f.input :position, error: "NFC must have a postion." %>
        <%= f.submit class: "button button-orange w-100" %>
      <% end %>
    </div>
  </div>
  <%= link_to 'Cancel', task_path(@task), class: "button button-outline-purple mt-4" %>
</div>
