<%= link_to root_path do %>
  <div class="button-outline-badge mt-4">
    <%= image_tag "ui-icons/arrow-left-solid.svg", width: 20, height: 20 %>
  </div>
<% end %>

<h2 class="mb-4">New employee</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),
  data: {turbo: false}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs form-signup">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :rank %>
    <%= f.input :admin, label: "Set employee as Admin", class: "checkbox" %>
    <%= f.input :photo, as: :file %>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Create Employee", class: "button button-orange mt-4" %>
  </div>
<% end %>

<%= link_to "Cancel", root_path, class: "button button-outline-purple mt-4" %>
