<style>
  ul {
   list-style-type: none;
  }
</style>

<div class="card p-2">
  <div>
    <h3 class="fw-bold">Description</h3>
    <p><%= task.description %></p>
  </div>

  <div>
    <ul data-controller="sortable" data-sortable-animation-value="150">
    <h3 class="fw-bold">Instruction Steps</h3>
      <% @task.steps.each do |step| %>
      <li><%= render 'steps/show', step: step %></li>
    <% end %>
    </ul>
    <%# TODO - Need to implements the steps %>
  </div>

  <div>
    <h3 class="fw-bold">Assigned NFC Chips</h3>
    <ul>
      <% @task.nfcs.each do |nfc| %>
        <%= render 'nfc-card', nfc: nfc, task: @task %>
      <% end %>
    </ul>
  </div>

  <div>
    <h3 class="fw-bold">Assigned Employees</h3>
    <%# TODO - Need to implements the steps %>
    <ul>
      <% @employee_tasks.each do |employee_task| %>
        <li><%= employee_task.user.first_name %> <%= employee_task.user.last_name %></li>
      <% end %>
    </ul>
  </div>

  <div>
    <%= link_to 'Edit task', edit_task_path(task), class: "btn btn-info" %>
    <%= link_to 'Add/Remove employee', new_task_employee_task_path(task), class: "btn btn-info" %>
    <%= link_to 'Add NFC Chip', new_task_nfc_path(task), class: "btn btn-info" %>
  </div>
</div>
