<style>
  ul {
   list-style-type: none;
  }
</style>

<div class="task-card" data-controller="toggle-sortable">
  <div>
    <h3 class="fw-bold">Description</h3>
    <p class="ps-3 text-gray">"<%= @task.description %>"</p>
  </div>

  <div class="my-4">
    <h3 class="fw-bold">Instructions</h3>
    <ul data-controller="sortable order-by-drag" data-sortable-animation-value="150" id="">

    <!-- Rounded switch -->
    <div class="d-flex align-items-center justify-content-end mb-3">
      <p class="mb-0 fw-bold pe-3" data-order-by-drag-target="switchlabel">Sort</p>
      <label class="switch">
        <input type="checkbox" data-action="click->order-by-drag#detach">
        <span class="slider round"></span>
      </label>
    </div>

  <div data-controller="add-step" class="my-4">
    <h3 class="fw-bold">Instructions</h3>

    <ul class="my-4" data-controller="sortable order-by-drag" data-sortable-animation-value="150">
      <div class="d-flex align-items-center justify-content-end">
        <p class="mb-0 fw-bold pe-3" data-order-by-drag-target="switchlabel">Sort</p>
        <label class="switch">
          <input type="checkbox" data-action="click->order-by-drag#detach">
          <span class="slider round"></span>
        </label>
      </div>
      <% counter = 1 %>
      <% @steps.each do |step| %>
        <li data-order-by-drag-url="<%= move_task_step_path(step.task, step)%>" data-id="<%= step.id %>"><%= render 'steps/show', step: step, counter: counter %></li>
        <% counter += 1 %>
      <% end %>
    </ul>
    <button data-action="click->add-step#addStep" type="button">Add Step</button>
    <div data-add-step-target="list" class="d-none">
      <%= simple_form_for [@task, @step] do |f| %>
        <%= f.input :instruction %>
        <%= f.input :info %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>

  <div class="">
    <h3 class="fw-bold mb-3">NFC Chips</h3>
    <ul class="mb-4">
      <% @task.nfcs.each do |nfc| %>
        <%= render 'nfc-card', nfc: nfc, task: @task %>
      <% end %>
    </ul>
  </div>

  <%= link_to 'Add NFC Chip', new_task_nfc_path(@task), class: "button button-outline-orange" %>

  <div class="my-4">
    <h3 class="fw-bold">Assigned Employees</h3>
    <ul class="employees list-style-none my-4 px-3">
      <% @employee_tasks.each_with_index do |employee_task, index| %>
        <li class="d-flex flex-row justify-content-start my-2 border-bottom pb-2 border-warning">
          <div>
            <% if employee_task.user.photo.attached? %>
              <%= cl_image_tag employee_task.user.photo.key, height: 40, width: 40, crop: :fill, class: "rounded-circle me-2" %>
            <% else %>
              <%= image_tag "bee", height: 40, width: 40, class: "rounded-circle me-2" %>
            <% end %>
            <%= employee_task.user.first_name %> <%= employee_task.user.last_name %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <%= link_to 'Add/Remove employee', new_task_employee_task_path(@task), class: "button button-outline-orange" %>

  <%= link_to 'Edit task', edit_task_path(@task), class: "button button-outline-orange" %>
</div>
