<div class="card p-2">
  <div>
    <h3 class="fw-bold">Description</h3>
    <p><%= task.description %></p>
  </div>

  <div>
    <h3 class="fw-bold">Instruction Steps</h3>
    <% @task.steps.each do |step| %>
      <%= render 'steps/steps_info', step: step %>
    <% end %>
  </div>

  <% if @my_employee_tasks.first.task_done? && @my_employee_tasks.first.task_done.strftime("%Y-%m-%d") == DateTime.now.strftime("%Y-%m-%d") %>

    <%= render 'done_task', employee_task: @employee_tasks.first %>

  <% else %>

    <div data-controller="mark-done">

      <%= simple_form_for @task,
      url: "/tasks/#{@task.id}/employee_tasks/#{@my_employee_tasks.first.id}",
      html: {
        data: {
          mark_done_target: "form",
          action: "submit->mark-done#update"
        }
      } do |f|
      %>
        <%= f.submit "Mark as done", class: "btn btn-info" %>
      <% end %>

    </div>

  <% end %>

</div>
