<style>
  ul {
   list-style-type: none;
  }
</style>

<div class="card p-2" data-controller="toggle-sortable">
  <div>
    <h3 class="fw-bold">Description</h3>
    <p class="ps-3 text-gray">"<%= task.description %>"</p>
  </div>

  <div class="my-4">
    <h3 class="fw-bold">Instructions</h3>
    <ul class="my-4" data-add-step-target="list" data-controller="sortable order-by-drag add-step" data-sortable-animation-value="150">
      <button type="button" data-action="click->add-step#addStep">Add Step</button>
      <button type="button" data-action="click->order-by-drag#detach">Toggle Sortable</button>
        <% counter = 1 %>
        <% @steps.each do |step| %>
          <li data-order-by-drag-url="<%=move_task_step_path(step.task, step)%>" data-id="<%= step.id %>"><%= render 'steps/show', step: step, counter: counter %></li>
          <% counter += 1 %>
        <% end %>
    </ul>
  </div>

  <div class="my-4">
    <h3 class="fw-bold">NFC Chips</h3>
    <ul class="my-4">
      <% @task.nfcs.each do |nfc| %>
        <%= render 'nfc-card', nfc: nfc, task: @task %>
      <% end %>
    </ul>
  </div>
  <%= link_to 'Add NFC Chip', new_task_nfc_path(task), class: "button button-outline-orange" %>

  <div class="my-4">
    <h3 class="fw-bold">Assigned Employees</h3>
    <ul class="list-style-none my-4 px-3">
      <% @employee_tasks.each_with_index do |employee_task, index| %>
        <% if index > 0 && index < @employee_tasks.count %>
          <hr>
        <% end %>
        <li class="d-flex flex-row justify-content-start my-2">
          <div>
            <% if employee_task.user.photo.attached? %>
              <%= cl_image_tag employee_task.user.photo.key, height: 40, width: 40, crop: :fill, class: "rounded-circle" %>
            <% else %>
              <%= image_tag "bee", height: 40, width: 40, class: "rounded-circle" %>
            <% end %>
            <%= employee_task.user.first_name %> <%= employee_task.user.last_name %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <%= link_to 'Add/Remove employee', new_task_employee_task_path(task), class: "button button-outline-orange" %>

  <%= link_to 'Edit task', edit_task_path(task), class: "button button-outline-orange" %>
</div>
