<div class="p-2">
  <div>
    <h3 class="fw-bold mb-2">Description</h3>
    <p><%= task.description %></p>
  </div>

  <div>
    <h3 class="fw-bold mb-2">Instruction Steps</h3>
    <ol>
      <% @steps.each do |step| %>
        <li>
        <span class="fw-bold fs-5"><%= step.instruction %></span>
          <br>
          Details: <%= step.info %>
          <%# <%= step.order %>
        </li>
    <% end %>
    </ol>
    
  </div>

  <% if @my_employee_tasks.first.task_done? && @my_employee_tasks.first.task_done.strftime("%Y-%m-%d") == DateTime.now.strftime("%Y-%m-%d") %>

    <%= render 'done_task', employee_task: @employee_tasks.first %>

  <% else %>

    <div id="confetti-wrapper"></div>

    <div data-controller="mark-done">

      <%= simple_form_for @task,
      url: "/tasks/#{@task.id}/assigned-employees/#{@my_employee_tasks.first.id}",
      html: {
        data: {
          mark_done_target: "form",
          action: "submit->mark-done#update"
        }
      } do |f|
      %>
        <%= f.submit "Mark as done", class: "button button-orange" %>
      <% end %>

    </div>

  <% end %>

</div>
