<div class = "container">
<h1> EDIT TASK </h1>
<%= simple_form_for @task do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <br>
  <%= f.submit class: "button button-orange mt-4" %>
<% end %>

<%= button_to "Delete task", @task, method: :delete, class: "button button-outline-orange mt-4" %>
</div>
