<h1>Add a New Task</h1>
<%= simple_form_for @task, data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' } do |f| %>

  <%= f.input :name %>
  <%= f.input :description %>

  <h1>Add a New Step</h1>
      <%= f.simple_fields_for :steps, @task.steps do |t| %>
      <%= render "steps/new", s: t, template: false %>
    <% end %>

  <template data-nested-form-target="template">
    <%= f.simple_fields_for :steps, Step.new, child_index: 'NEW_RECORD' do |t| %>
      <%= render "steps/new", s: t %>
    <% end %>
  </template>
  <div data-nested-form-target="target"></div>
  <button type="button" data-action="nested-form#add">Add step</button>

  <%= f.submit %>
<% end %>
