<%= link_to tasks_path do %>
  <div class="button-outline-badge my-4">
    <%= image_tag "ui-icons/arrow-left-solid.svg", width: 20, height: 20 %>
  </div>
<% end %>

<div class="container-fluid task-card">

  <h1 class="text-center fw-bold fs-3 mb-3"><%= @task.name %></h1>

 <% if current_user.admin? %>
    <%= render 'task-show-card-manager', locals:{task: @task, step: @step} %>
  <% else %>
    <%= render 'task-show-card-employee', task: @task %>
  <% end %>
</div>
