<%= link_to tasks_path, class: "" do %>
  <%= image_tag "back-button.png", height: 50, width: 50, class: "mt-2"  %>
  All Tasks
<% end %>

<div class="container-fluid task-card">

  <h1 class="text-center fw-bold fs-3 mb-3"><%= @task.name %></h1>

 <% if current_user.admin? %>
    <%= render 'task-show-card-manager', locals:{task: @task, step: @step} %>
  <% else %>
    <%= render 'task-show-card-employee', task: @task %>
  <% end %>
</div>
