<%= link_to employee_path(user) do %>
  <div class="employee_card d-flex justify-content-between">

    <div class="employee_avatar">
      <% if user.photo.attached? %>
        <%= cl_image_tag user.photo.key, height: 120, width: 120, crop: :fill %>
      <% else %>
        <%= image_tag "bee logo 2", height: 120, width: 120 %>
      <% end %>
    </div>

    <div class="employee_name">
      <p><%= user.first_name %></p>
      <p><%= user.last_name %></p>
    </div>

    <%# <div class="employee icon">
      <%= image_tag "icon index users", height: 80, width: 80 %>
    <%# </div> %>

  </div>
<% end %>

<%# SO... QUESTIONS
1 DOES IT MAKE SENCE TO USE GRID INSTEAD OF FLEXBOX
2 HOW CAN I INTEGRATE IN THE PARTIAL ANOTHER PARTIAL %>

<%# has an avatar to the left %>
<%# has the full name in the middle %>
<%# has an icon to the right %>
<%# <%= image_tag user.avatar.key, class: "card", alt:"User Avatar"%>
