<head>
</head>
<body>
<div class="employee_card d-flex justify-content-between" >

  <div class="employee_avatar">
    <% if user.photo.attached? %>
      <%= cl_image_tag user.photo.key, height: 120, width: 120, crop: :fill %>
      <% else %>
        <%= image_tag "bee", height: 120, width: 120 %>
      <% end %>
      <%# <%= cl_image_tag("cgbefenauz6vioznhag5",
      width: 120, height: 120, crop: :fill) %>
      </div>

  <div class="employee_name">
    <%= user.first_name %>
    <%= user.last_name %>
  </div>

  <div class="employee icon">
    <img src="icon">
  </div>

</div>
</body>

<%# SO... QUESTIONS
1 DOES IT MAKE SENCE TO USE GRID INSTEAD OF FLEXBOX
2 HOW CAN I INTEGRATE IN THE PARTIAL ANOTHER PARTIAL %>

<%# has an avatar to the left %>
<%# has the full name in the middle %>
<%# has an icon to the right %>
<%# <%= image_tag user.avatar.key, class: "card", alt:"User Avatar"%>
