<div class = "container">
  <%= link_to employee_path(@user) do %>
    <div class="button-outline-badge mt-4">
      <%= image_tag "ui-icons/arrow-left-solid.svg", width: 20, height: 20 %>
    </div>
  <% end %>

  <h2>Edit <%= @user.first_name %>´s Profile</h2>
  </div>
  <br>

  <%= simple_form_for(@user, as: "user", url: employee_update_path(@user), html: { method: :patch }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>

      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :rank %>
      <%= f.input :admin, label: "Set employee as Admin", class: "admin-checkbox" %>
      <%= f.input :photo, as: :file %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update", class: "button button-orange mt-4"%>
    </div>
  <% end %>

  <%= link_to "Delete Profile", employee_path(@user), data: { confirm: "Are you sure?" }, method: :delete, class: "button button-outline-purple mt-4" %>
</div>
