
<h2>Edit <%= @user.first_name %> Profile</h2>

<%= simple_form_for(@user, as: "user", url: employee_update_path(@user), html: { method: :patch }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :rank %>
    <%= f.input :photo, as: :file %>
    <%# Pedro says that the admin shouldn´t be able to change the password... and I agree cuase that means i don´t have to work that much... kisses%>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %> <%#is this button or should it be submit%>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(@user), data: { confirm: "Are you sure?" }, method: :delete %></p>
<%= link_to "Back", employee_path %>
