<div>
  <%= link_to 'All Employees', employees_path, class: "btn btn-dark"%>
</div>

<div class="container-fluid">

  <h1 class="text-center"><%= @user.first_name %> <%= @user.last_name %></h1>

 <div class="profile_avatar">
    <% if @user.photo.attached? %>
      <%= cl_image_tag @user.photo.key, height: 120, width: 120, crop: :fill, class: "rounded-circle" %>
      <% else %>
        <%= image_tag "bee", height: 120, width: 120, class: "rounded-circle" %>
    <% end %>
  </div>
  <div>
    <p>Hold the potato in one hand and the peeler in your other hand. Stand at the sink or over the garbage before you go to peel your potato. This way you don’t end up with bits of potato skin all over your kitchen. There are two generic "shapes" potato peelers; here's how to hold each one:
      If you have a standard long potato peeler, hold it like a paint roller, with your thumb balancing it in your fingers, but still away from the blade.
      If you have a Y-shaped potato peeler, hold it like a pencil. This way is more efficient, and you’re less likely to hurt yourself. It should be resting between your middle finger and thumb (of your dominant hand), with your pointer finger holding it in position.</p>
  </div>

  <h2> Tasks list </h2>
  <div>
    <ul class= "profile_task_list">
      <% @user.employee_tasks.each do |employee_task| %>
        <%= render "tasks/task-card", task: employee_task.task %>
      <% end %>
  </div>

  <div>
    <% if current_user.admin == true %>
     <%=link_to 'Edit Information', edit_employee_path(@user), class: "btn btn-primary"%>
    <% end %>
   </div>

  <div>
    <% if current_user.admin == true %>
      <%= link_to 'Delete', employee_destroy_path, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "btn btn-warning" %>
    <% end %>
  </div>
</div>
