<%= link_to new_user_session_path do %>
  <div class="button-outline-badge mt-3">
    <%= image_tag "ui-icons/arrow-left-solid.svg", width: 20, height: 20 %>
  </div>
<% end %>

<h1>
  <%= image_tag "honeyformoney.svg", class: "full-logo mt-4", alt: "Chemical Company logo." %>
</h1>

<div class="text-center mb-5">
  <%= image_tag 'save-instruct-logo-powered-by.svg', width: 150 %>
</div>

<h2 class="my-4">Forgot your password?</h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name),  html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Reset Password", class: "button button-orange w-100" %>
  </div>
<% end %>
