<div class="container-fluid">
  <h1 class="my-4">Dashboard</h1>

  <% if current_user.admin? %>

        <div class="row align-items-start mt-5">
          <div class="col-6 col-lg-4 d-flex flex-column justify-content-center align-items-center">
            <p class="fw-bold mb-1">Total Tasks <%= fa_icon "list-check" %></p>
            <p class="button-badge"><%= @tasks %></p>
          </div>

          <div class="col-6 col-lg-4 d-flex flex-column justify-content-center align-items-center">
            <p class="fw-bold mb-1 text-center">Total Employees <%= fa_icon "users" %></p>
            <p class="button-badge"><%= @employees %></p>
          </div>

          <div class="col-12 col-lg-4 d-flex flex-column justify-content-center align-items-center">
            <p class="fw-bold mb-1 text-center">Total NFC's <%= fa_icon "microchip" %></p>
            <p class="button-badge"><%= @nfcs %></p>
          </div>
        </div>

        <div class="d-flex flex-column align-items-around mt-4">
          <%= link_to new_task_path, class: "button button-outline-orange" do %>
            <%= image_tag "ui-icons/file-circle-plus-solid.svg" %>
            New Task
          <% end %>

          <%= link_to tasks_path, class: "button button-outline-orange" do %>
            <%= image_tag "ui-icons/file-lines-solid.svg" %>
            Tasks List
          <% end %>

          <%= link_to new_user_registration_path, class: "button button-outline-orange" do %>
            <%= image_tag "ui-icons/user-plus-solid.svg" %>
            New employee
          <% end %>

          <%= link_to employees_path, class: "button button-outline-orange" do %>
            <%= image_tag "ui-icons/user-group-solid.svg" %>
            Employees List
          <% end %>
        </div>
  <% else %>
    <%= controller.redirect_to tasks_path %>
  <% end %>
</div>
