<div class="container-fluid">
  <h1 class="my-4">Dashboard</h1>

  <% if current_user.admin? %>

        <%= link_to new_task_path, class: "button button-outline-orange mb-5" do %>
          <%= image_tag "ui-icons/file-circle-plus-solid.svg" %>
          New Task
        <% end %>

        <%= link_to tasks_path, class: "button button-outline-orange mb-5" do %>
          <%= image_tag "ui-icons/file-lines-solid.svg" %>
          Tasks List
        <% end %>

        <%= link_to new_user_registration_path, class: "button button-outline-orange mb-5" do %>
          <%= image_tag "ui-icons/user-plus-solid.svg" %>
          New employee
        <% end %>

        <%= link_to employees_path, class: "button button-outline-orange mb-5" do %>
          <%= image_tag "ui-icons/user-group-solid.svg" %>
          Employees List
        <% end %>

  <% else %>
    <% controller.redirect_to tasks_path %>
  <% end %>
</div>
