<div class="nested-form-wrapper d-flex" data-new-record="<%= s.object.new_record? %>">
  <%= s.input :instruction %>
  <%= s.input :info %>
  <%= s.input :order %>
  <%= s.hidden_field :_destroy %>
  <div>
  <br><br>
    <button type="button" data-action="nested-form#remove">Remove step</button>
  </div>
</div>
