<div class="nested-form-wrapper form-steps" data-new-record="<%= s.object.new_record? %>">
  <%= s.input :instruction %>
  <%= s.input :info %>
  <div class="remove-step">
    <%= s.input :order %>
    <%= s.hidden_field :_destroy %>
    <button type="button" data-action="nested-form#remove" class="button button-outline-purple">Remove step</button>
  </div>
</div>
