<div id=<%= step.order %>>
  <div data-edit-step-target="infos">
    <p class="step-instruction"><%= step.instruction %></p>
    <p class="text-info"> <%= step.info %></p>
    <p class="text-info"> <%= step.order %></p>
    <button type="button" data-action="click->edit-step#display">Edit Step</button>
  </div>
</div>

<div class="px-3" style="line-height: 0.8" data-edit-step-target="infos">
  <% if current_user.admin? %>
    <p class="d-flex justify-content-between"><%= step.order %>. <%= step.instruction %> <%= fa_icon ["pencil", "1x"], data: { action: "click->edit-step#display" }, class: "text-danger" %></p>
  <% else %>
    <p class="d-flex justify-content-between"><%= step.order %>. <%= step.instruction %></p>
  <% end %>
  <p class="text-warning"><%= step.info %></p>
</div>

<%# data-order-by-drag-url="<%= "tasks/#{@task}/steps/#{step.id}?order=#{step.order}" %>
