<!DOCTYPE html>
<html>
  <head>
    <title>Honey for Money - powered by Save Instruct</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta property="og:title" content="Save Instruct - Honey for money">
    <meta property="og:image" content="honeyformoney.svg">
    <meta property="og:description" content="Save Instruct - Task manager to save instructions">
    <meta property="og:type" content="Task Manager for Companies"/>
    <meta property="og:url" content="https://saveinstruct.com">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">

    <%= render 'shared/ios_pwa_links' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render "shared/navbar" %>
    <% end%>

    <%= render "shared/flashes" %>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
